*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Arial', sans-serif;
    background-color: whitesmoke;
    color: #333;
}

.main_dash{
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/* Dashboard Navigator */

.nav_body{
    height: 20vh;
    width: 100%;
    background-color: #F39E60;
}
.nav_col1{
    display: flex;
    height: 30%;
}
.nav_col1 ul{
    list-style-type: none;
    padding: 0; /* Removes default padding */
    margin: 0; /* Removes default margin */
    display: flex; /* Displays items in a horizontal row */
    gap: 20px; /* Adds spacing between items */
    text-align: right;
    margin-top: auto;
    margin-bottom: auto;
    margin-left: auto;
    margin-right: 50px;
}

.nav_col2{
    height: 70%;
    width: 100%;
    display: flex;
}
.nav_col2 .logo img{
    height: 100%;
}
.logo{
    display: flex;
    justify-content: right;
    align-items: center;
}
.shop_name{
    display: flex;
    justify-content: left;
    align-items: center;
}
.shop_name p{
    font-size: 30px;
    font-weight: 600;
}

.search_bar{
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}
.search_bar input{
    width: 65%;
    height: 35px;
    padding: 20px;
    border-radius: 5px;
    border: none;
}
.search_bar input:focus{
    outline: none;
    box-shadow: none; /* Removes the Bootstrap focus shadow */
    border: none; /* Removes the border */
}

.search_bar button{
    background-color: transparent;
    border: none;
    position: absolute;
    right: 10px;
    padding-right: 180px;
}

/* Cart */

.cart{
    display: flex;
    justify-content: left;
    align-items: center;
}
.cart img{
    height: 30px;
}

/* MainBody */

.dashbody{
    height: 80vh;
    width: 90%;
    background-color: aqua;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
/* ROW 1 */
.dashbody_row1{
    height: 45%;
    width: 100%;
    background-color: #F39E60;
    display: flex;
    justify-content: center;
    align-items: center;
}
.row1_body{
    height: 100%;
    width: 80%;
    background-color: bisque;
    display: flex;
}
.row1_col1{
    height: 100%;
    background-color: aquamarine;
}
.row1_col1 img{
    height: 100%;
    width: 100%;
    object-fit: contain;
}
.row1_col2{
    height: 100%;
    background-color: black;
}
.row1_col3{
    height: 100%;
    background-color: burlywood;
}

/* ROW 2 */
.dashbody_row2{
    height: 15%;
    width: 100%;
    background-color: aliceblue;
}

/* ROW 3 */
.dashbody_row3{
    height: 35%;
    width: 100%;
    background-color: rgb(25, 68, 105);
}